{% extends 'base.html' %}

{% block titulo %}
Nuevo turno
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Habilitación turno</h3>

    <!-- Tarjeta -->
    <div class="card">
      <div class="card-header bg-primary">
        <button type="button" class="btn btn-outline-light" id="btnAgregar">Aperturar caja</button>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="tbl">
          <thead>
            <tr>
              <th>Nro_turno</th>
              <th>Fiscal</th>
              <th>Cajero</th>
              <th>Monto inicial</th>
              <th>Fecha de Registro</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <!-- /tarjeta -->

    <!-- El formulario -->
    <div class="modal" id="modalFormulario">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="modalTitle">REALIZAR APERTURA</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" id="txtIdApertura">
            </div>
            <div class="form-group">
              <label for="txtClaveFiscal">Fiscal:</label>
              <input type="text" class="form-control" placeholder="Ingrese la clave fiscal" id="txtClaveFiscal">
            </div>
            <div class="form-group">
              <label for="txtCajero">Cajero/a:</label>
              <input type="text" class="form-control" placeholder="Ingrese id del cajero" id="txtCajero">
            </div>
            <div class="form-group">
              <label for="txtMontoInicial">Monto inicial:</label>
              <input type="number" class="form-control" placeholder="Ingrese el monto inicial" id="txtMontoInicial">
            </div>
            <div class="form-group">
              <label for="txtRegistro">Fecha de Registro:</label>
              <input type="hidden" class="form-control" id="txtRegistro">
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>

        </div>
      </div>
    </div>

    <div class="row mt-4 d-none" id="rowAlerta">
        <div class="col col-md-12">
            <div class="alert alert-success">
                <strong>Apertura realizada</strong>
                <div class="row" id="mostrarAlerta"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
 const CSRFToken = "{{ csrf_token() }}" || null;

const initDatatable = () => {
  $('#tbl').DataTable({
    language: {
      url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
    },
    ajax: '/api/v1/aperturas', // Change to new endpoint
    columns: [
      { data: 'nro_turno' },
      { data: 'clave_fiscal' },
      { data: 'cajero' },
      { data: 'monto_inicial' },
      { data: 'registro' },
      { data: function(row) {
          return `<button type="button" name="btn_editar" class="btn btn-primary" data-id="${row.id_apertura}">Editar</button>
                  <button type="button" name="btn_eliminar" class="btn btn-danger" data-id="${row.id_apertura}">Eliminar</button>`
        }
      }
    ]
  });
}

const agregar = () => {
  $('#btnAgregar').on('click', function(){
    $('#modalTitle').text("Agregar una Apertura");
    $('#txtClaveFiscal').val("");
    $('#txtCajero').val("");
    $('#txtMontoInicial').val("");
    $('#txtIdApertura').val("");  // Clear the ID field
    $('#modalFormulario').modal();
  });
}

const guardar = () => {
  $('#btnGuardar').on('click', function() {
    const clave_fiscal = $('#txtClaveFiscal').val();
    const cajero = $('#txtCajero').val();
    const monto_inicial = $('#txtMontoInicial').val();
    const idApertura = $('#txtIdApertura').val();
    const tabla = $('#tbl').DataTable();

    if(idApertura) {
      // update
      fetch(`/api/v1/aperturas/${idApertura}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': CSRFToken
        },
        body: JSON.stringify({
          clave_fiscal: clave_fiscal,
          cajero: cajero,
          monto_inicial: monto_inicial
        })
      })
      .then(resp => resp.json())
      .then(data => {
        if(data && !data.error && data.success) {
          tabla.ajax.reload();
          Swal.fire("Actualizado", "La apertura ha sido actualizada correctamente.", "success");
        } else {
          Swal.fire(data.error);
        }
      }).catch(err => {
        console.error(err);
        Swal.fire("Error", "Ocurrió un error al actualizar la apertura.", "error");
      });
    } else {
      // insert
      fetch(`/api/v1/aperturas`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': CSRFToken
        },
        body: JSON.stringify({
          clave_fiscal: clave_fiscal,
          cajero: cajero,
          monto_inicial: monto_inicial
        })
      })
      .then(resp => resp.json())
      .then(data => {
        if(data && !data.error && data.success) {
          tabla.ajax.reload();
          Swal.fire("Agregado", "La apertura ha sido agregada correctamente.", "success");
        } else {
          Swal.fire(data.error);
        }
      }).catch(err => {
        console.error(err);
        Swal.fire("Error", "Ocurrió un error al guardar la apertura.", "error");
      });
    }
    $('#modalFormulario').modal("hide");
  });
}

const editar = () => {
  $('#tbl').on('click', 'button[name="btn_editar"]',function(){
    Swal.fire({
      title: "¿Deseas editar este registro?",
      showCancelButton: true,
      confirmButtonText: "Si",
      cancelButtonText: `No`
    }).then((result) => {
      if (result.isConfirmed) {
        $('#modalTitle').text("Editar una Apertura");

        const idApertura = $(this).data('id');
        $('#txtIdApertura').val(idApertura);

        fetch(`/api/v1/aperturas/${idApertura}`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(resp => resp.json())
        .then(data => {
          if (data && data.success) {
            $('#txtClaveFiscal').val(data.data.clave_fiscal);
            $('#txtCajero').val(data.data.cajero);
            $('#txtRegistro').val(data.data.registro);
            $('#txtMontoInicial').val(data.data.monto_inicial);
            $('#modalFormulario').modal();
          }
        });
      }
    });
  });
}

const eliminar = () => {
  $('#tbl').on('click', 'button[name="btn_eliminar"]',function(){
    const idApertura = $(this).data('id');
    Swal.fire({
      title: "¿Deseas eliminar este registro?",
      showCancelButton: true,
      confirmButtonText: "Si",
      cancelButtonText: `No`
    }).then((result) => {
      if (result.isConfirmed) {
        fetch(`/api/v1/aperturas/${idApertura}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': CSRFToken
          }
        })
        .then(resp => resp.json())
        .then(data => {
          if (data && !data.error && data.success) {
            const fila = $(this).closest('tr');
            const tabla = $('#tbl').DataTable();
            tabla.row(fila).remove().draw();
            Swal.fire("Eliminado", "La apertura ha sido eliminada correctamente.", "success");
          } else {
            Swal.fire(data.error);
          }
        }).catch(err => {
          console.error(err);
          Swal.fire("Error", "Ocurrió un error al eliminar la apertura.", "error");
        });
      }
    });
  });
}

$(document).ready(function() {
  initDatatable();
  agregar();
  guardar();
  editar();
  eliminar();
});
</script>
{% endblock %}
